<app-auth-wrapper>
  <div class="login-form-column">
    <h2 class="title">Login</h2>

    <mat-form-field appearance="legacy">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="emailControl"
        required
        (input)="handleEmail($event)"
      />
      <mat-error *ngIf="emailControl.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <mat-form-field appearance="legacy">
      <mat-label>Enter your password</mat-label>
      <input
        matInput
        required
        [formControl]="passwordControl"
        [type]="hide ? 'password' : 'text'"
        (input)="handlePassword($event)"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
      </button>
      <mat-error *ngIf="passwordControl.invalid">
        You must enter a password
      </mat-error>
    </mat-form-field>

    <a class="forgot-password" routerLink="/forgot-password"
      >Forgot password?</a
    >
    <div class="button-wrapper">
      <button mat-raised-button class="primary-button" (click)="login()">
        Log in
      </button>
      <button mat-raised-button routerLink="/signup">Sign up</button>
    </div>

    <div class="divider-with-text">
      <span></span>
      <span>OR</span>
      <span></span>
    </div>

    <div class="alternative-login">
      <button mat-stroked-button class="google-button">
        <img src="assets/google-icon.svg" />
        Google
      </button>
    </div>
  </div>
</app-auth-wrapper>
