@import 'base.scss';

.login-container {
  @include base-auth-container;

  .login-form {
    @include base-form;

    .title {
      color: $primary;
      font-weight: 500;
      width: $form-content-width;
      text-align: center;
    }

    .forgot-password {
      @include small-desktop-size;
      padding-bottom: 10px;
    }

    .google-button {
      img {
        width: 24px;
        height: 24px;
      }
    }
  }
}
