@import 'base.scss';

app-auth-wrapper {
  .login-form-column {
    @include base-form;

    .login-options {
      @include row-spread;
      width: 100%;

      mat-checkbox {
        .mat-checkbox-layout {
          margin: 0;
        }
      }

      .forgot-password {
        @include small-desktop-size;
        text-decoration: none;
        font-weight: 400;
        color: $light-grey;

        &:hover {
          color: $pure-blue;
        }
      }
    }

    .recaptcha-container {
      margin-top: 20px;
    }

    // .divider-with-text {
    //   @include row-center;
    //   width: 100%;

    //   span {
    //     &:not(:first-child):not(:last-child) {
    //       @include small-desktop-size;
    //       padding: 0 2rem;
    //       font-weight: 400;
    //       color: $light-grey;
    //     }

    //     &:first-child,
    //     &:last-child {
    //       width: 100%;
    //       height: 1px;
    //       -webkit-box-flex: 1;
    //       flex: 1;
    //       background: #ebecf1;
    //       display: inline-block;
    //     }
    //   }
    // }

    // .alternative-login {
    //   margin-top: 10px;

    //   .google-button {
    //     img {
    //       width: 24px;
    //       height: 24px;
    //     }
    //   }
    // }
  }
}
