<mat-sidenav-container class="sidenav-container">
  <mat-sidenav
    #drawer
    class="sidenav"
    fixedInViewport
    [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'side'"
    [opened]="(isHandset$ | async) === false"
  >
    <div class="logo" routerLink="/">Bibo</div>
    <mat-nav-list class="list-start">
      <a mat-list-item class="list-button" routerLink="/">
        <mat-icon>home</mat-icon>
        <span>Home</span>
      </a>
      <a mat-list-item class="list-button" routerLink="/trending">
        <mat-icon>trending_up</mat-icon>
        <span>Trending</span>
      </a>
      <a mat-list-item class="list-button" routerLink="/followings">
        <mat-icon>subscriptions</mat-icon>
        <span>Following</span>
      </a>
      <a mat-list-item class="list-button" routerLink="/upload">
        <mat-icon>cloud_upload</mat-icon>
        <span>Upload</span>
      </a>
      <div class="divider"></div>
      <a mat-list-item class="list-button" routerLink="/following-channels">
        <mat-icon>group</mat-icon>
        <span>Channels</span>
      </a>
      <a mat-list-item class="list-button" routerLink="/history">
        <mat-icon>history</mat-icon>
        <span>History</span>
      </a>
    </mat-nav-list>

    <mat-nav-list class="list-end">
      <a mat-list-item class="list-button" routerLink="/settings">
        <mat-icon>settings</mat-icon>
        <span>Settings</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content class="sidenav-content">
    <app-navbar>
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async"
      >
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button></app-navbar
    >
    <div class="content-container">
      <ng-content></ng-content>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
