@import 'base.scss';

$sidenav-top-bot-padding: 10px;

.sidenav-container {
  height: 100%;

  .sidenav {
    width: $sidenav-width;
    box-shadow: $nav-box-shadow;

    .logo {
      @include row-center;
      @include none-highlight;
      width: 100%;
      height: 80px;
      padding: $sidenav-top-bot-padding 13px;
      cursor: pointer;
      font-family: 'Baloo Da 2', cursive;
      font-size: 35px;
      line-height: 38px;
      font-weight: 600;
      color: $pure-blue;
      outline: none;
    }

    mat-nav-list {
      .list-button {
        @include small-desktop-size;
        @include full-width-height;
        border-color: rgba(255, 255, 255, 0.12);
        color: $light-grey;

        .mat-list-item-content {
          @include column-center;
          padding: 10px 16px;
        }

        &:hover {
          color: $pure-blue;
        }
      }
    }

    .list-end {
      width: 100%;
      position: absolute;
      bottom: 0;
      padding-bottom: $sidenav-top-bot-padding;
    }
  }

  .sidenav .mat-toolbar {
    background: inherit;
  }

  .sidenav.mat-drawer-side {
    border: none;
  }

  .sidenav-content {
    .content-container {
      position: relative;
      top: $navbar-height;
    }
  }
}
