<div class="forgot-password-container">
  <h1 class="title">Enter Your Email Below To Reset Password</h1>

  <mat-card class="forgot-password-form">
    <mat-form-field appearance="legacy">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="emailControl"
        required
        (input)="handleEmail($event)"
      />
      <mat-error *ngIf="emailControl.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <div class="button-wrapper">
      <button mat-raised-button routerLink="/login">Back to login</button>
      <button mat-raised-button color="primary" (click)="reset()">
        Reset
      </button>
    </div>
  </mat-card>
</div>
