<app-auth-wrapper>
  <div class="forgot-password-form">
    <h2 class="title">Enter your email below to reset password</h2>

    <mat-form-field appearance="legacy">
      <mat-label>Enter your email</mat-label>
      <input
        matInput
        placeholder="pat@example.com"
        [formControl]="emailControl"
        required
        (input)="handleEmail($event)"
      />
      <mat-error *ngIf="emailControl.invalid">{{
        getErrorMessage()
      }}</mat-error>
    </mat-form-field>

    <div class="button-wrapper">
      <button mat-raised-button color="primary" (click)="reset()">
        Reset
      </button>
      <button mat-raised-button routerLink="/login">Back to login</button>
    </div>
  </div>
</app-auth-wrapper>
