@import 'base.scss';

.following-channels-grid-container {
  .following-channels-render {
    @include row-left;
    max-width: $following-channels-grid-max-width;
    flex-wrap: wrap;

    app-following-channels-item {
      margin: calc(#{$following-channels-grid-row-gap} / 2)
        calc(#{$following-channels-grid-column-gap} / 2);
      width: $following-channels-item-width;
      min-width: 250px;
    }
  }
}
