rules_version = '2';
service firebase.storage {
  match /b/{bucket}/o {
    match /profiles/{userId}/image {
      allow read;
      allow write: if request.auth.uid == userId;
    }
    match /thumbnails/{userId}/{image} {
      allow read;
      allow write: if request.auth.uid == userId;
    }
    match /videos/{videoId}/{video} {
      allow read;
      allow write: if request.auth.uid == videoId;
    }
  }
}
