@import 'base.scss';

.current-user-container {
  position: relative;
  display: inline-block;
  height: 100%;

  .current-user-wrapper {
    @include row-center;
    cursor: pointer;
    height: 100%;
    padding: $navbar-padding;

    app-avatar {
      margin-right: $avatar-space;
    }

    .current-user {
      @include truncate-text;
      max-width: 90px;
    }

    &:hover {
      color: $pure-blue;
    }
  }

  .current-user-dropdown {
    @include popover-menu;
    display: none;
    width: 100%;

    .dropdown-item {
      @include regular-desktop-size;
      @include row-left;
      width: 100%;
      background: transparent;
      color: $light-grey;
      font-weight: 400;
      cursor: pointer;
      padding: 0 $menu-side-padding;
      height: 48px;

      mat-icon {
        margin-right: 5px;
      }

      &:hover {
        background: $menu-item-hover;
        color: $pure-blue;
      }
    }
  }

  &:hover {
    .current-user-dropdown {
      @include column-left;
    }
  }
}
