@import 'base.scss';

@mixin title() {
  @include large-desktop-size;
  font-weight: 500;
  margin-bottom: 20px;
}

@mixin customized-input() {
  width: 300px;

  .mat-form-field-wrapper {
    .mat-form-field-flex {
      .mat-form-field-infix {
        padding: 10px 0;
        border-top: 7px solid transparent;
      }
    }
  }
}

$section-margin-top: 20px;

.settings-container {
  @include full-width-height;

  .settings-wrapper {
    @include row-left;
    width: $main-content-width;
    margin: $front-main-margin auto;

    .avatar-column {
      @include column-center;
      align-self: flex-start;
      margin: 70px $side-main-margin 0 60px;

      label {
        margin-top: 10px;
        cursor: pointer;

        span {
          color: $button-blue;
          font-size: 14px;
          font-weight: 500;
        }
      }
    }

    .settings-column {
      width: 100%;

      .personal-settings {
        @include row-left;
        margin-top: $section-margin-top;

        @include column-left;

        mat-form-field {
          @include customized-input;
        }

        .personal-settings-title {
          @include title;
        }

        .email-settings {
          @include row-left;

          .message {
            @include row-left;
            @include regular-desktop-size;
            line-height: 45px;
            padding-bottom: 21.5px;

            .vertical-divider {
              height: 45px;
              border-left: 3px solid #dd3434;
            }
          }
        }

        .email-status {
          @include row-left;
          margin-bottom: 10px;
          width: 300px;

          span {
            margin-right: 5px;
          }

          mat-icon {
            cursor: default;
          }
        }
      }

      .password-settings {
        @include column-left;
        margin: $section-margin-top 0 0 0;

        .password-settings-title {
          @include title;
        }

        mat-form-field {
          @include customized-input;
        }

        .save-changes {
          margin-bottom: 20px;
        }
      }
    }
  }
}
