<div class="navbar-container">
  <ng-content></ng-content>

  <app-search></app-search>

  <div class="navbar-end">
    <div class="notification-button">
      <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
    </div>

    <ng-container *ngIf="isAuthenticated">
      <app-current-user></app-current-user>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">
      <div class="button-wrapper">
        <button mat-flat-button class="primary-button" routerLink="/login">
          Log in
        </button>
      </div>
    </ng-container>
  </div>
</div>
