@import 'base.scss';

.navbar-container {
  @include row-spread;
  @include none-highlight;
  width: calc(100% - #{$sidenav-width});
  background-color: $clean-white;
  height: $navbar-height;
  z-index: 99;
  color: $light-grey;
  box-shadow: $nav-box-shadow;
  position: fixed;

  app-search {
    margin: 0 auto;
    padding: 0 $navbar-side-margin;
    width: 100%;
  }

  .navbar-end {
    @include row-spread;
    margin-right: $navbar-side-margin;
    height: 100%;
    min-width: 205px;

    .notification-button,
    .create-account-button {
      padding-right: $navbar-side-margin;
      border-color: rgba(255, 255, 255, 0.12);
      cursor: pointer;

      &:hover {
        color: $pure-blue;
      }
    }

    app-current-user {
      height: 100%;
    }
  }
}
