<div class="navbar-container">
  <ng-content></ng-content>

  <div class="navbar-wrapper">
    <div class="navbar-start">
      <div class="navbar-item" routerLink="/">
        <mat-icon>home</mat-icon>
        Home
      </div>
      <div class="navbar-item">
        <mat-icon>trending_up</mat-icon>
        Trending
      </div>
      <div class="navbar-item">
        <mat-icon>subscriptions</mat-icon>
        Following
      </div>
    </div>
  </div>

  <app-search></app-search>

  <div class="navbar-end">
    <div class="notification-button">
      <mat-icon matBadge="2" matBadgeColor="warn">notifications</mat-icon>
    </div>

    <ng-container *ngIf="isAuthenticated">
      <app-current-user></app-current-user>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">
      <button
        mat-raised-button
        class="create-account-button"
        color="accent"
        routerLink="/signup"
      >
        Create account
      </button>
      <button mat-raised-button routerLink="/login">
        Log in
      </button>
    </ng-container>
  </div>
</div>
