<mat-toolbar class="navbar-container" [color]="'primary'">
  <img class="logo" src="assets/logo_transparent.png" />
  <div class="navbar-wrapper">
    <div class="navbar-item" (click)="goToHome()">
      <i class="material-icons">home</i>
      Home
    </div>
    <div class="navbar-item">
      <i class="material-icons">trending_up</i>
      Trending
    </div>
    <div class="navbar-item">
      <i class="material-icons">subscriptions</i>
      Following
    </div>
  </div>

  <div class="navbar-end">
    <div class="search-wrapper">
      <input class="search-input" type="search" />
      <button class="search-button" mat-flat-button>
        <i class="material-icons">search</i>
      </button>
    </div>
    <ng-container *ngIf="isAuthenticated">
      <button mat-stroked-button class="upload-button" (click)="goToUpload()">
        <i class="material-icons">cloud_upload</i>
        Upload
      </button>
      <app-current-user></app-current-user>
    </ng-container>
    <ng-container *ngIf="!isAuthenticated">
      <button
        mat-raised-button
        class="create-account-button"
        color="accent"
        (click)="goToSignup()"
      >
        Create account
      </button>
      <button mat-raised-button (click)="goToLogin()">
        Log in
      </button>
    </ng-container>
  </div>
</mat-toolbar>
