@import 'base.scss';

.following-channels-item-container {
  width: 100%;

  .following-channels-item {
    @include base-card-item;
    @include column-center;
    cursor: default;
    padding: 20px 0;

    app-avatar {
      cursor: pointer;
      margin-bottom: 10px;
    }

    .channel-name {
      @include regular-desktop-size;
      cursor: pointer;
      margin-top: 10px;
      margin-bottom: 5px;

      &:hover {
        color: $pure-blue;
      }
    }

    .followers {
      @include small-desktop-size;
    }
  }
}
