@import 'base.scss';

.channel-header-container {
  @include row-spread;
  width: 100%;
  height: 100px;
  background-color: $header-1;
  box-shadow: $nav-box-shadow;
  padding: 10px 200px;

  .channel-info {
    @include row-left;

    .info-text {
      @include column-left;
      margin-left: 10px;

      .channel-name {
        @include x-large-desktop-size;
        font-weight: 400;
      }

      .channel-followers {
        @include regular-desktop-size;
      }
    }
  }
}
