@import 'base.scss';

.auth-container {
  @include base-auth-container;

  .welcome-column {
    @include column-center;
    width: 605px;
    height: 100%;
    background-image: $plum-plate;

    .welcome-title {
      color: #fff;
      font-size: 2rem;
      font-weight: 500;
    }

    .welcome-message {
      font-size: 1.2rem;
      font-weight: 200;
      margin: 0.5rem 0 3.5rem;
      color: rgba(255, 255, 255, 0.7);
    }
  }
}
