@import 'base.scss';

.watch-video-container {
  @include full-width-height;
  cursor: default;

  .watch-video-wrapper {
    margin: $front-main-margin $side-main-margin;

    .watch-video {
      width: 80%;
      max-width: 1280px;
      height: 100%;

      .video-player {
        @include full-width-height;
        max-width: 1280px;
        max-height: 720px;
      }

      .player-footer {
        @include row-spread;
        align-items: flex-start;

        .video-info {
          @include column-left;
          width: 70%;

          .video-title {
            @include xx-large-desktop-size;
            @include truncate-text;
            max-width: 100%;
            font-weight: 500;
            margin: 10px 0;
          }

          .owner {
            @include small-owner-info;

            .owner-info {
              @include column-left;

              .name {
                @include regular-desktop-size;
                font-weight: 500;
              }

              .follow {
                @include small-desktop-size;
                color: $gray-600;
              }
            }

            .follow-button {
              margin-left: auto;
            }
          }
        }

        .video-opinions {
          @include column-center;
          width: 30%;
          margin-top: 10px;

          .ratio-view-display,
          mat-progress-bar,
          .opinion-buttons {
            width: 90%;
          }

          .ratio-view-display {
            @include row-spread;

            .like,
            .dislike {
              @include regular-desktop-size;

              mat-icon {
                @include regular-desktop-size;
              }
            }

            .active {
              color: $primary;
            }

            .views {
              @include x-large-desktop-size;
            }
          }

          mat-progress-bar {
            margin-bottom: 15px;
          }

          .opinion-buttons {
            @include row-spread;

            button {
              width: 45%;
            }
          }
        }
      }

      .tab-group {
        .mat-tab-body-wrapper {
          font-size: 14px;
          line-height: 22px;
          margin-top: 15px;

          .mat-tab-body {
            .mat-tab-body-content {
              @include row-left;
            }
          }
        }
      }

      .publish {
        @include small-desktop-size;
        color: $gray-600;
        margin-top: 20px;
      }

      .comment-section {
        width: 100%;
        h1 {
          font-weight: normal;
        }
      }
    }
  }
}

/* ADDITIONAL STYLES */
.link-share,
.facebook-share,
.twitter-share {
  @include column-center;
  @include regular-desktop-size;
  color: #000000;
  margin-right: 15px;
  text-decoration: none;

  span {
    margin-top: 5px;
  }
}
