@import "base.scss";

.uploading-item {
  @include column-left;
  width: 100%;
  margin: 20px 0;

  .file-name {
    font-size: 22px;
    line-height: 30px;
  }

  mat-progress-bar {
    width: 60%;
    padding: 5px 0;
    margin: 10px 0 20px;
  }

  .title-wrapper,
  .tags-wrapper,
  .description-wrapper {
    @include row-spread;
    width: 30%;

    span {
      font-size: 18px;
      line-height: 24px;
    }

    mat-form-field {
      width: 70%;

      text-area {
        height: 100px;
      }
    }
  }
}
