@import 'base.scss';

.uploading-item {
  @include column-left;
  width: 100%;
  margin: 20px 0 !important;

  .uploading-item-header {
    @include row-spread;
    width: 100%;

    .file-name {
      @include row-left;
      @include large-desktop-size;
      max-width: 200px;

      img {
        height: 48px;
        margin-right: 5px;
      }

      span {
        @include truncate-text;

        width: 100%;
      }
    }

    mat-panel-description {
      .upload-progress {
        @include row-left;
        width: 100%;

        mat-progress-bar,
        ngb-progressbar {
          width: 90%;
        }
      }

      .options {
        @include row-center;

        .option-button {
          @include none-highlight;
          padding: 0 5px;
        }
      }
    }
  }

  .mat-expansion-panel-content {
    .mat-expansion-panel-body {
      width: 100%;

      .title-wrapper,
      .tags-wrapper,
      .description-wrapper {
        @include row-left;
        width: 100%;

        .config-title {
          @include regular-desktop-size;
          margin-right: 20px;
          width: 100px;
        }

        .chip-field,
        .title-field,
        .description-field {
          width: 70%;
        }
      }
    }
  }
}
