<mat-card class="uploading-item" *ngIf="file && status !== 'Cancel'">
  <div class="uploading-item-header">
    <span class="file-name">{{ file.file.name }}</span>
    <div class="options">
      <button
        class="option-button"
        mat-icon-button
        color="primary"
        (click)="upload()"
        [disabled]="status !== 'Pending'"
      >
        <mat-icon>cloud_upload</mat-icon>
      </button>
      <button
        class="option-button"
        mat-icon-button
        color="primary"
        (click)="cancel()"
      >
        <mat-icon>cancel</mat-icon>
      </button>
    </div>
  </div>

  <ng-container [ngSwitch]="status">
    <mat-progress-bar
      *ngSwitchCase="'Pending'"
      mode="buffer"
    ></mat-progress-bar>
    <mat-progress-bar
      *ngSwitchCase="'Progress'"
      mode="determinate"
      [value]="progress"
    ></mat-progress-bar>
  </ng-container>

  <div class="title-wrapper">
    <span>Video Title</span>
    <mat-form-field appearance="fill">
      <mat-label>Title</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="tags-wrapper">
    <span>Tags</span>
    <mat-form-field appearance="fill">
      <mat-label>Tags</mat-label>
      <input matInput />
    </mat-form-field>
  </div>

  <div class="description-wrapper">
    <span>Description</span>
    <mat-form-field appearance="fill">
      <mat-label>Description</mat-label>
      <textarea matInput></textarea>
    </mat-form-field>
  </div>
</mat-card>
