@import 'base.scss';

.uploading-item {
  @include column-left;
  width: 100%;
  margin: 20px 0;

  .uploading-item-header {
    @include row-spread;
    width: 100%;

    .file-name {
      font-size: 22px;
      line-height: 30px;
    }

    .options {
      @include row-center;

      .option-button {
        @include none-highlight;
        padding: 0 5px;
      }
    }
  }

  mat-progress-bar {
    width: 60%;
    padding: 5px 0;
    margin: 10px 0 20px;
  }

  .title-wrapper,
  .tags-wrapper,
  .description-wrapper {
    @include row-spread;
    width: 30%;

    span {
      font-size: 18px;
      line-height: 24px;
      margin-right: 20px;
    }

    mat-form-field {
      width: 70%;

      text-area {
        height: 100px;
      }
    }
  }
}
