.accent-button {
  background-color: rgba(34, 185, 255, 0.1);
  color: $pure-blue;
}

.basic-button {
  background: #e1e3ec;
  color: #959cb6;
}

.primary-button {
  background: $pure-blue;
  color: $clean-white;
}
