$primary: #3f51b5;
$indigo-50: #e8eaf6;
$clean-white: #ffffff;
$gray-600: #757575;
$yellow-800: #f9a825;

$menu-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
$menu-item: rgba(0, 0, 0, 0.87);
$menu-item-hover: rgba(0, 0, 0, 0.04);
