$primary: #3f51b5;
$indigo-50: #e8eaf6;
$clean-white: #ffffff;
$gray-600: #757575;
$yellow-800: #f9a825;
$accent-deep-purple-theme: #ffd740;
$button-blue: #2196f3;
$pure-blue: #22b9ff;
$rainy-ashville: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
$pure-grey: #67666e;
$light-grey: #74788d;
$warning: #f44336;

$young-passion: linear-gradient(
  to right,
  #ff8177 0%,
  #ff867a 0%,
  #ff8c7f 21%,
  #f99185 52%,
  #cf556c 78%,
  #b12a5b 100%
);
$amy-crisp: linear-gradient(120deg, #a6c0fe 0%, #f68084 100%);
$plum-plate: linear-gradient(135deg, #667eea 0%, #764ba2 100%);

$background-hover: rgba(0, 0, 0, 0.04);
$button-hover: #f5f6fc;

$nav-box-shadow: 0 0 40px 0 rgba(82, 63, 105, 0.1);

$menu-box-shadow: 0 2px 4px -1px rgba(0, 0, 0, 0.2),
  0 4px 5px 0 rgba(0, 0, 0, 0.14), 0 1px 10px 0 rgba(0, 0, 0, 0.12);
$menu-item: rgba(0, 0, 0, 0.87);
$menu-item-hover: rgba(0, 0, 0, 0.04);
