@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin column-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin row-center-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin row-spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin full-width-height {
  width: 100%;
  height: 100%;
}

@mixin none-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Opera and Firefox */
}

@mixin base-auth-container {
  @include column-center;
  @include full-width-height;

  .title {
    color: $primary;
    font-weight: 500;
  }
}

@mixin base-form {
  @include column-center;
  width: 500px;
  margin: 20px auto;

  mat-form-field {
    width: 90%;
    padding: 5px;

    input {
      @include large-desktop-size;
    }
  }

  .button-wrapper {
    @include row-center-space-around;
    width: 100%;
    padding-bottom: 20px;

    button {
      width: 30%;
    }
  }
}

@mixin truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

.divider {
  margin: 10px 0;
}

.tooltip-without-truncated {
  font-size: 12px;
  word-break: break-word;
  white-space: normal;
}
