@mixin column-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@mixin column-left {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
}

@mixin column-right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}

@mixin column-top {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

@mixin row-center-space-around {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

@mixin row-spread {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@mixin row-center {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

@mixin row-left {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

@mixin row-right {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

@mixin full-width-height {
  width: 100%;
  height: 100%;
}

@mixin none-highlight {
  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                       supported by Chrome, Opera and Firefox */
}

@mixin base-auth-container {
  @include row-spread;
  @include full-width-height;
}

@mixin base-form {
  @include column-center;
  width: $form-width;
  margin: 20px auto;

  .title {
    color: $pure-grey;
    font-weight: 500;
    width: $form-content-width;
    text-align: center;
  }

  app-validation-input {
    width: 100%;
  }

  .button-wrapper {
    @include row-spread;
    width: 100%;
    padding: 20px 0;

    button {
      width: 40%;
    }
  }
}

@mixin truncate-text {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

@mixin small-owner-info {
  @include row-left;
  width: 100%;

  .owner-avatar {
    margin-right: $avatar-space;
  }
}

@mixin popover-menu {
  position: absolute;
  background-color: $clean-white;
  min-width: 160px;
  box-shadow: $menu-box-shadow;
  z-index: 1;
  padding: 8px 0;
}

@mixin hover {
  background: $background-hover;
  color: $pure-blue;
}

.divider {
  width: 100%;
  margin: 10px 0;
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.vertical-divider {
  // should define height for divider before using
  margin: 10px;
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.tooltip-without-truncated {
  font-size: 12px;
  word-break: break-word;
  white-space: normal;
}

.menu-item-active {
  color: $pure-blue !important;
  background-color: $background-hover;
}
