@import '~@angular/material/theming';

@include mat-core();

$bibo-primary: mat-palette($mat-);

// Define a mixin that accepts a theme and outputs the theme-specific styles.
@mixin rainy-ashville-theme($theme) {
  // Extract the palettes you need from the theme definition.
  $primary: map-get($theme, primary);
  $accent: map-get($theme, accent);

  // Define any styles affected by the theme.
  .rainy-ashvilee {
    // Use mat-color to extract individual colors from a palette.
    background-color: mat-color(
      linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%)
    );
    border-color: mat-color($accent, A400);
  }
}
