$navbar-padding: 0 20px;
$navbar-side-margin: 20px;
$side-main-margin: 120px;
$front-main-margin: 50px;
$small-avatar: 48px;
$form-width: 400px;
$form-content-width: 90%;
$avatar-space: 5px;
$menu-side-padding: 16px;
$sidenav-width: 100px;
$navbar-height: 80px;
$search-form-width: 50%;
$image-info-spacing: 10px;
