@import 'base.scss';

.comment-item-container {
  .comment-item {
    .owner {
      @include small-owner-info;
      align-items: flex-start;

      .content {
        .owner-info {
          @include row-left;

          .name {
            @include regular-desktop-size;
            font-weight: 500;
            margin-right: 5px;
          }

          .time {
            @include small-desktop-size;
            color: $gray-600;
          }
        }
        .comment-content {
          @include regular-desktop-size;
          padding: 5px 0;
        }
      }
    }
  }
}
