@import 'base.scss';

.validation-input-container {
  width: 100%;
  padding-bottom: 10px;

  .legacy {
    width: 100%;

    input {
      @include regular-desktop-size;
    }
  }

  .outline {
    width: 100%;

    .mat-form-field-wrapper {
      .mat-form-field-flex {
        .mat-form-field-infix {
          padding: 10px 0;
          border-top: 7px solid transparent;
        }
      }
    }
  }

  .password-validation-status {
    @include column-left;

    .condition {
      @include row-center;
      font-size: 13px;

      mat-icon {
        margin-right: 2px;
      }
    }
  }
}
