@import "base.scss";

.signup-container {
  @include column-center;
  @include full-width-height;

  .title {
    color: $primary;
    font-weight: 500;
  }

  .signup-form {
    @include column-center;
    width: 500px;
    margin: 20px auto;

    mat-form-field {
      width: 90%;
      padding: 5px;

      input {
        line-height: 30px;
        font-size: 18px;
      }
    }

    .button-wrapper {
      @include row-center-space-around;
      width: 100%;

      button {
        width: 30%;
      }
    }
  }
}
