<div class="upload-container">
  <mat-card id="upload-wrapper" class="upload-wrapper">
    <div
      id="upload"
      class="upload"
      (dragover)="cancelEventInvoke($event)"
      (dragleave)="cancelEventInvoke($event)"
      (drop)="onDrop($event)"
    >
      <button
        class="upload-button"
        mat-icon-button
        color="primary"
        (click)="uploadInput.click()"
      >
        <mat-icon inline="true">cloud_upload</mat-icon>
      </button>
      <input #uploadInput id="upload-input" type="file" accept="video/*" />
      <span class="message">Drag and drop files here to upload</span>
    </div>
  </mat-card>
</div>
<div class="uploading">
  <div class="display">
    <app-uploading
      [controller]="controller"
      (queue)="setQueue($event)"
    ></app-uploading>
  </div>
</div>
