<div class="upload-container">
  <mat-card id="upload-wrapper" class="upload-wrapper">
    <div
      id="upload"
      class="upload"
      (dragover)="cancelEventInvoke($event)"
      (dragleave)="cancelEventInvoke($event)"
      (drop)="onDrop($event)"
    >
      <label for="upload-input" class="upload-label">
        <i id="upload-icon" class="material-icons upload-icon">cloud_upload</i>
      </label>
      <input id="upload-input" type="file" />
      <span class="message">Drag and drop files here to upload</span>
    </div>
  </mat-card>
</div>
<div class="uploading">
  <div class="display">
    <app-uploading [controller]="controller"></app-uploading>
  </div>
</div>
