@import 'base.scss';

.video-item-container {
  width: 100%;

  .video-card-item {
    outline: none;
    width: 100%;
    cursor: pointer;
    padding: 0;
    border-radius: 0;

    img {
      width: 100%;
    }

    .video-item-footer {
      @include row-spread;
      position: relative;
      width: 100%;

      .video-info {
        @include column-left;
        padding: 5px 10px;
        width: 80%;

        .video-title {
          @include large-desktop-size;
          @include truncate-text;
          max-width: 100%;
          font-weight: 500;
          margin-bottom: 5px;
        }

        .video-views,
        .video-owner {
          @include small-desktop-size;
        }

        .video-owner {
          &:hover {
            color: $pure-blue;
          }
        }
      }

      .video-settings {
        padding: 0 5px;
        position: absolute;
        right: 0px;
      }
    }
  }
}
