<div class="video-item-container" *ngIf="video && owner">
  <mat-card class="video-card-item" routerLink="/watch/{{ video.id }}">
    <img src="{{ video.thumbnail }}" />

    <div class="video-item-footer">
      <div class="video-info">
        <span
          class="video-title"
          matTooltip="{{ video.title }}"
          matTooltipClass="tooltip-without-truncated"
          >{{ video.title }}</span
        >
        <span
          class="video-owner"
          *ngIf="type === 'card'"
          routerLink="channel/{{ owner.id }}"
          >By {{ owner.name }}
        </span>
        <span class="video-views"
          >{{ video.views }} views • {{ createdDuration }}</span
        >
      </div>
      <div class="video-settings" *ngIf="showSettings">
        <button
          mat-icon-button
          class="icon-button"
          matTooltip="Actions"
          (click)="toggleMenu($event)"
        >
          <mat-icon fontSet="material-icons-outlined">more_vert</mat-icon>
        </button>

        <app-menu-wrapper [hidden]="hidden">
          <span class="popover-item">
            <mat-icon fontSet="material-icons-outlined">create</mat-icon>
            Edit
          </span>
          <span class="popover-item-warning">
            <mat-icon fontSet="material-icons-outlined">delete</mat-icon>
            Remove
          </span>
        </app-menu-wrapper>
      </div>
    </div>
  </mat-card>
</div>
