@import 'base.scss';

.video-grid-container {
  width: 70%;
  margin: 50px 0 50px 120px;

  .video-grid-title {
    @include x-large-desktop-size;
    font-weight: 500;
  }

  .video-wrapper {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 350px));
    grid-gap: 30px;
    list-style: none;

    .video-item {
      width: 100%;

      video {
        width: 100%;
      }

      .video-info {
        @include column-left;
        margin-left: 20px;

        .video-title {
          @include large-desktop-size;
          font-weight: 500;
        }

        .video-views {
          @include small-desktop-size;
        }
      }
    }
  }
}
