@import 'base.scss';

.video-grid-container {
  .video-grid-title {
    @include x-large-desktop-size;
    font-weight: 500;
  }

  .videos-render {
    @include row-left;
    max-width: $video-grid-max-width;
    flex-wrap: wrap;

    app-video-item {
      margin: calc(#{$video-grid-row-gap} / 2)
        calc(#{$video-grid-column-gap} / 2);
      width: $video-item-width;
      min-width: 250px;
    }
  }
}
