@import 'base.scss';

.video-grid-container {
  width: 70%;
  margin: $front-main-margin 0 $front-main-margin $side-main-margin;

  .video-grid-title {
    @include x-large-desktop-size;
    font-weight: 500;
  }

  .video-wrapper {
    display: grid;
    max-width: 1280px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    column-gap: 15px;
    row-gap: 30px;
  }
}
